{% extends "layout.html" %} {% block content %}

{% include "navbar.html" %}


<div class="hero bg-base-200">
  <div class="hero-content">
    <div class="flex flex-col card bg-base-100 w-full">
      <!-- Create class form -->
      <form
        class="card-body"
        {% if is_create %}
          hx-post="/class"
        {% else %}
          {% if let Some(class) = class %}
            hx-patch="/class?class_id={{class.id}}" 
          {% endif %}
        {% endif %}
        hx-target="#error-message"
      >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Display name</span>
          </label>
          <input
            name="display_name"
            placeholder="Display Name"
            class="input input-bordered"
            required
            {% if let Some(c) = class %} value="{{c.display_name}}" {% endif %}
          />
        </div>

        <div class="form-control mt-6">
          <button class="btn btn-primary">
            {% if is_create %}
              Create class
            {% else %}
              Update class
            {% endif %}
            <span
              class="loading loading-infinity loading-md htmx-indicator"
            ></span>
          </button>
        </div>

        <div id="error-message"></div>

      </form>

      <!-- All students -->
      {% if let Some(class) = class %}
        <div class="overflow-x-auto">
          <table class="table table-xs table-pin-rows table-pin-cols">
            <thead>
              <tr>
                <th>Display Name</th>
                <th>User Role</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td {% if user.user_role == RaabtaUserRole::Teacher %}class="text-green-700"{% else %}class="text-yellow-700"{% endif %}>{{ user.display_name }}</td>
                <td>{{user.user_role}}</td>
                <td>
                  {% if let Some(user_class_id) = user.class_id %}
                    {% if user_class_id.clone() == class.id %}
                      <input
                        class="checkbox checkbox-primary"
                        type="checkbox"
                        checked
                        hx-post="/membership/remove-user-class?class_id={{class.id}}&user_id={{user.id}}"
                        hx-confirm="Add user to class?"
                        hx-swap="none"
                      />
                    {% else %}
                      <input
                        class="checkbox checkbox-primary"
                        type="checkbox"
                        disabled
                      />
                    {% endif %}
                  {% else %}
                    <input
                      class="checkbox checkbox-primary"
                      type="checkbox"
                      hx-post="/membership/add-user-class?class_id={{class.id}}&user_id={{user.id}}"
                      hx-confirm="Add user to class?"
                      hx-swap="none"
                    />
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
