{% extends "layout.html" %} {% block content %}

{% include "navbar.html" %}


<div class="w-full flex flex-col content-center justify-center items-center bg-base-200">
  <form class="my-4" hx-encoding='multipart/form-data' hx-post='/user/create-bulk'>
    <input type='file' name='file'>
    <button class="btn btn-primary">
      Bulk create users (csv)
    </button>
  </form>
</div>

<div class="hero bg-base-200">
  <div class="hero-content">
    <div class="flex flex-col card bg-base-100 w-full">
      <!-- Create user form -->
      <form
        class="card-body"
        {% if is_create %}
          hx-post="/user"
        {% else %}
          {% if let Some(user) = user %}
            hx-patch="/user?user_id={{user.id}}" 
          {% endif %}
        {% endif %}
        hx-target="#error-message"
      >
        <div class="form-control">
          <label class="label">
            <span class="label-text">Display name</span>
          </label>
          <input
            name="display_name"
            placeholder="Display Name"
            class="input input-bordered"
            required
            {% if let Some(u) = user %} value="{{u.display_name}}" {% endif %}
          />
        </div>
        <div class="form-control">
          <label class="label">
            <span class="label-text">Phone number (optional)</span>
          </label>
          <input
            name="phone_number"
            type="tel"
            placeholder="0333-3778899"
            class="input input-bordered"
            {% if let Some(u) = user %} {% if let Some(ph) = u.phone_number %} value="{{ph}}" {% endif %} {% endif %}
          />
        </div>

        {% if is_create %}
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Student with parent</span>
              <input type="radio" name="radio_user_type" value="student-parent" class="radio checked:bg-red-500" checked="checked" />
            </label>
          </div>
          <div class="form-control">
            <label class="label cursor-pointer">
              <span class="label-text">Teacher</span>
              <input type="radio" name="radio_user_type" value="teacher" class="radio checked:bg-blue-500" />
            </label>
          </div>
        {% endif %}

        <div class="form-control mt-6">
          <button class="btn btn-primary">
            {% if is_create %}
              Create user
            {% else %}
              Update user
            {% endif %}
            <span
              class="loading loading-infinity loading-md htmx-indicator"
            ></span>
          </button>
        </div>

        <div id="error-message"></div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
