{% extends "layout.html" %} {% block content %}

<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Raabta</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a>Users</a>
      </li>
      <li>
        <a>Classes</a>
      </li>
    </ul>
  </div>
</div>

<div class="w-full flex bg-base-200">
  <button class="btn btn-primary mx-auto my-4" hx-get="/dashboard/user" hx-target="body" hx-push-url="true">Create user</button>
</div>

<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content">
      <!-- All users -->
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-cols">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Job</th>
            <th>company</th>
            <th>location</th>
            <th>Last Login</th>
            <th>Favorite Color</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>Cy Ganderton</td>
            <td>Quality Control Specialist</td>
            <td>Littel, Schaden and Vandervort</td>
            <td>Canada</td>
            <td>12/16/2020</td>
            <td>Blue</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
