<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>

        <title>Login</title>
    </head>

    <body>
        <div>
            <h2 class="text-3xl font-bold">Admin Dashboard</h2>
            <form hx-post="/submit-login">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email":wa placeholder="Enter email here" required>

                <button type="submit" hx-indicator="#login-indicator" class="btn">
                    Login! 
                </button>
                <div id="login-indicator" class="htmx-indicator"> Loading... </div>
            </form>
        </div>
    </body>

</html>
