<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" hx-get="/dashboard" hx-target="body" hx-push-url="true">Raabta</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a hx-get="/user" hx-target="body" hx-push-url="true">Users</a>
      </li>
      <li>
        <a hx-get="/class" hx-target="body" hx-push-url="true">Classes</a>
      </li>
      <li>
        <a hx-get="/login?logout=true" hx-target="body" hx-push-url="true">Logout</a>
      </li>
    </ul>
  </div>
</div>
