{% extends "layout.html" %} {% block content %} {% include "navbar.html" %}

<div class="w-full flex bg-base-200">
  <button
    class="btn btn-primary mx-auto my-4"
    hx-get="/user/create"
    hx-target="body"
    hx-push-url="true"
  >
    Create user
  </button>
</div>

<div class="hero bg-base-200">
  <div class="hero-content">
    <!-- All users -->
    <div class="overflow-x-auto">
      <table class="table table-xs table-pin-rows table-pin-cols">
        <thead>
          <tr>
            <th>Display Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>User Role</th>
            <th>Arhived?</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.display_name }}</td>
            <td>{{ user.email }}</td>
            <td>
              {% if let Some(phone_number) = user.phone_number %}
                {{ phone_number }}
              {% endif %}
            </td>
            <td>{{ user.user_role }}</td>
            <td id="archive-row{{user.id}}">{% if user.archived %} Yes {% else %} No {% endif %}</td>
            <td>
              <button 
                class="btn btn-ghost btn-xs"
                hx-get="/user/edit?user_id={{user.id}}"
                hx-target="body"
                hx-push-url="true"
              >
                edit
              </button>
            </td>
            <td>
              <button 
                class="btn btn-error btn-xs btn-outline"
                hx-delete="/user?user_id={{user.id}}"
                hx-target="#archive-row{{user.id}}"
                hx-confirm="Are you sure?"
              >
                Archive
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
