<div class="hero-content">
  <div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
    <form class="card-body" hx-post="/submit-login" hx-target="#body">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input name="email" type="email" placeholder="email" class="input input-bordered" required />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input name="password" type="password" placeholder="password" class="input input-bordered" required />
      </div>
      <p class="text-base text-red-500">Wrong credentials</p>
      <div class="form-control mt-6">
        <button class="btn btn-primary">Login <span class="loading loading-infinity loading-md htmx-indicator"></span></button>
      </div>
    </form>
  </div>
</div>
